@media(max-width:1024px){
    body{
        font-size: 15px;
    }
    .secao-aviso{
        width: 300px;
        height: 110px;
    }
    .secao-aviso h2{
        font-size: 20px;
    }
    .secao-aviso{
        padding: 10px;
        width: 320px;
        max-width: 400px;
    }
    .secao-ajuda input{
        padding: 9px;
        width: 280px;
        height: 35px;
    }
    .secao-ajuda textarea{
        padding: 9px;
        width: 280px;
        height: 100px;
    }
    .secao-ajuda .submit{
        font-size: 15px;
    }
    .error{
        font-size: 15px;
    }
    .fixo{
        font-size: 15px;
    }
}

@media(max-width:740px){
    .container{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .secao-aviso{
        margin: 0 auto;
        margin-bottom: 80px;
        margin-right: auto;
    }
}