html{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: #686565;
    background-image: url(../img/bg-repeat.jpg);
    background-size: contain;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}
.secao-aviso{
    color: white;
    width: 450px;
    height: 165px;
    margin-right: 70px;
}
.secao-aviso h2{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 15px;
}
.secao-ajuda{
    background-color:  white;
    padding: 10px;
    /* width: 510px; */
    max-height: 500px;
}
.secao-ajuda div{
    margin-bottom: 22px;
}

.secao-ajuda input{
    padding: 13px;
    width: 450px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

.secao-ajuda textarea{
    padding: 13px;
    width: 450px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

.formulario-cadastro{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.formulario-cadastro input{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000000;
    font-size: 12px;
    font-weight: 350;
    outline: none;


}

.formulario-cadastro .campo-obrigatorio{
    width: 70px;
    height: 8px;
    font-family: 'Roboto';
    font-size: 8.5px;
    font-style: normal;
    font-weight: 380;
    color: rgb(255, 0, 0);
    background-color: #fff;
    line-height: 9px;
    display: none;
}
.campo-obrigatorio.mostra-msg{
    display: block;
}
.formulario-cadastro textarea{
    height: 100px;
    width: 280px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000000;
    outline: none;
    font: "Roboto";
    font-size: 12px;
    font-weight: 370;
}

.formulario-cadastro .informacoes-usuario{
    margin: 9px 18px 1px;
}

.formulario-cadastro .fixo{
    margin-left: 15px;
}

.formulario-cadastro p{
    font-size: 13px;
    font-weight: 380;
    line-height: 18px;
}
.secao-ajuda .submit{
    background-color: #3CCC87;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 19px;
}
.secao-ajuda .submit:hover{
    background-color: #5aeea6;
}

/* .secao-ajuda input{
    display: flex;
    justify-content: center;
    margin: 10px 19px;

    background-color: #3CCC87;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 45px;
    width: 280px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
} */
/* .submit input:hover{
    background-color: #0ad171;
} */

.secao-ajuda input.valido, .secao-ajuda textarea.valido{
    border: 2px solid #3CCC87;
    border-radius: 5px;
}

.secao-ajuda input.error, .secao-ajuda textarea.error{
    border: 2px solid #F52E2E;
    border-radius: 5px;
}



.error{
    font-size: 12px;
    color: #F52E2E;
}
.none{
    display: none;
}